@import './src/app.module';

%base-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: $black;
}
.cartEmpty{
  @extend %base-font;
  display: flex;
  height: 10em;
  align-items: center;
  justify-content: center;
}
.totalPrice{
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  color: $black;
  .price {
    margin-left: 15px;
  }
}
.cartTitle{
  @extend %base-font;
  display: flex;
  margin: 80px 0 60px 0;
  .numberItems{
    margin-left: 5px;
  }
}
