@import './src/app.module';

%brandName-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  height: 26px;
  white-space: nowrap;
  color: $black;
}

.selectedProduct {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-top: 1px solid #E5E5E5;
  padding: 20px 0 ;


  .brand {
    @extend %brandName-font;
  }

  .name {
    @extend %brandName-font;
    margin-bottom: 5px;
  }

  .price {
    height: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $black;
    margin-bottom: 10px;
  }

  .currentAttributes {
    .attributeName {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      color: $black;
      text-transform: uppercase;
    }

    .currentItemElement {
      margin: 5px 0;
      width: 48px;
      height: 34px;
      cursor: pointer;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.05em;
      background-color: $black;
      border: 5px solid $black;
      color: white;
    }
  }

  .amountAndGallery {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    flex-shrink: 0;


    .amount {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 137px;
      margin: 0 10px 0 20px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border: 1px solid $black;
        font-size: 12px;
        cursor: pointer;
      }

      .amountNumber {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: $black;
      }
    }
  }
}
