@import './src/app.module';

.productStyle {
  width: 386px;
  height: 444px;
  padding: 16px;
  &:hover {
    box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
  }
  .img {
    height: 330px;
    width: 354px;
    object-fit: contain;
    margin-bottom: 24px;
  }
  .content {
    display: flex;
    flex-direction: column;
    .name {
      height: 29px;
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: $black;
      display: flex;
      align-items: center;
    }
    .price {
      height: 29px;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      font-size: 18px;
      color: $black;
      line-height: 100%;
    }
  }
}

