@import '../../../app.module';

%base-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: $black;
}

.cartEmpty {
  @extend %base-font;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  margin: 20px 0;
}

.totalPrice {

  .total {
    display: flex;
    justify-content: space-between;
    height: 26px;
    margin: 35px 16px 35px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $black;
  }

  .price {
    @extend %base-font;
    line-height: 26px;
  }
}

.cartTitle {
  display: flex;
  height: 26px;
  @extend %base-font;
  line-height: 26px;

  .numberItems {
    margin-left: 5px;
  }
}
.productsBlock {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
