@import '../../../app.module';

%base-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: $black;
}

%position-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartEmpty {
  @extend %base-font;
  @extend %position-center;
  height: 10em;
}

.tax {
  display: flex;
  padding-top: 20px;
  border-top: 1px solid #E5E5E5;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: $black;

  .taxName {
    font-weight: 400;
  }

  .taxValue {
    margin-left: 20px;
    font-weight: 700;
  }
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 50px 0;


  .total {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    color: $black;
  }

  .price {
    margin-left: 20px;
  }

  .greenButton {
    @extend %position-center;
    width: 292px;
    height: 43px;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    background: $green;
    color: #FFFFFF;
    cursor: pointer;
    user-select: none;
  }
}

.cartTitle {
  @extend %base-font;
  display: flex;
  margin: 80px 0 60px 0;
  user-select: none;

  .numberItems {
    margin-left: 5px;
  }
}
