@import './src/app.module';

%attribute-box {
  margin: 8px 12px 16px 0;
  width: 63px;
  height: 45px;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
}

.attributeName{
  font-family: 'Roboto Condensed',sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $black;
  text-transform: uppercase;
}

.attributesItem {
  display: flex;
  .itemElement {
    @extend %attribute-box;
    border: 1px solid $black;
    line-height: 44px;
    color: #292929;
  }
  .currentItemElement {
    @extend %attribute-box;
    background-color: $black;
    border: 5px solid $black;
    color: white;
    line-height: 35px;
  }
}


