@import '../../../app.module';

%brandName-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  height: 26px;
  white-space: nowrap;
  color: $black;
}
%attribute-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 8px 8px 0;
  width: 34px;
  height: 34px;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.05em;
}
%attribute-colorbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.selectedProduct {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-top: 1px solid #E5E5E5;
  padding: 20px 0;
  margin-right: 15px;


  .brand {
    @extend %brandName-font;
  }

  .name {
    @extend %brandName-font;
    margin-bottom: 5px;
  }

  .price {
    height: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $black;
    margin-bottom: 10px;
  }

  .currentAttributes {
    .attributeName {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      color: $black;
      text-transform: uppercase;
    }
    .attributesItem {
      display: flex;
      user-select: none;

      .itemElement {
        @extend %attribute-box;
        border: 1px solid $black;
        color: #292929;
      }
      .colorItemElement {
        @extend %attribute-colorbox;
        margin: 8px 8px 8px 0;
        border: 1px solid $black;
      }

      .currentItemElement {
       @extend %attribute-box;
        background-color: $black;
        color: white;
      }
      .currentColorItemElement {
        @extend %attribute-colorbox;
        margin: 8px 8px 8px 3px;
        outline: 1px solid #5ECE7B;
        outline-offset: 2px;
      }
    }
  }

  .amountAndGallery {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    flex-shrink: 0;

    .deleteButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25px;
      opacity: .2;
      cursor: pointer;
    }

    .amount {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 137px;
      margin: 0 10px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border: 1px solid $black;
        font-size: 12px;
        cursor: pointer;
      }

      .amountNumber {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: $black;
      }
    }
  }
}
