.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.nav {
  display: flex;
}

.cart {
  display: flex;
  justify-content: space-between;
  width: 204px;
}

.cartOverlay {
  width: 325px;
  height: 540px;
  position: absolute;
  border: 1px solid black;
  left: 1150px;
  background: #ffffff;
  z-index: 100;
  .totalPrice,
  .button {
    display: flex;
    justify-content: space-between;
  }
}
.counterProducts {
  width: 20px;
  height: 20px;
  background-color: black;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
}
