@import './src/app.module';

%button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 43px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  margin: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 80px;
  align-items: center;
  .nav {
    display: flex;
    .navItem {
      padding: 0 16px;
      font-family: 'Raleway',sans-serif;
      font-size: 16px;
      color: $black;
      }
    .activeNavItem {
      padding: 32px 16px;
      font-family: 'Raleway',sans-serif;
      font-size: 16px;
      color: $green;
      border-bottom: 2px solid $green;
    }
  }
  .logo{
    position: absolute;
    top:24px;
    left: 604px;
    width: 32px;
  }
  .actions {
    width: 204px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .currencySelector {
      width: 38px;
      height: 29px;
      display: flex;
      font-family: 'Raleway',sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      margin-right: 22px;
      color: $black;
      .arrow {
        width: 8px;
        height: 80px;
        margin-left: 10px;
      }
      .currencyList {
        position: absolute;
        left: 1140px;
        top: 65px;
        width: 114px;
        padding: 20px;
        font-family: 'Raleway',sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: $black;
        background-color: white;
        z-index: 90;
        box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
        cursor: pointer;
      }
    }
    .cart {
      width: 20px;
      height: 80px;
      display: flex;
      align-items: center;
      .counterProducts {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 1230px;
        top: 20px;
        background-color: $black;
        color: #ffffff;
        border-radius: 10px;
        text-align: center;
        font-family: 'Roboto',sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
      }
      .cartOverlay {
        position: absolute;
        width: auto;
        max-height: 540px;
        min-height: 200px;
        right: 0;
        top: 75px;
        padding: 16px;
        background: #ffffff;
        z-index: 100;
        border: 1px solid lightsteelblue;
        overflow-y: auto;
        overflow-x: hidden;
        .totalPrice{

        }
        .buttons {
          display: flex;
          justify-content: center;
          .whiteButton{
            @extend %button;
            background: #FFFFFF;
            border: 1px solid $black;

          }
          .greenButton{
            @extend %button;
            background: $green;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}







