.attributesItem {
  display: flex;
}
.itemElement {
  margin: 12px;
  width: 63px;
  height: 45px;
  border: 1px solid black;
  text-align: center;
}
.currentItemElement {
  margin: 12px;
  width: 63px;
  height: 45px;
  border: 3px solid red;
  text-align: center;
}
