.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.nav {
  display: flex;
}

.cart {
  display: flex;
  justify-content: space-between;
  width: 204px;
}

.cartOverlay {
  width: 325px;
  height: 540px;
  position: absolute;
  border: 1px solid black;
  left: 1150px;
  background: #FFFFFF;
  .totalPrice,
  .button {
    display: flex;
    justify-content: space-between;
  }
}
