.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.cart {
  display: flex;
  justify-content: space-between;
  width: 204px;



}
.currency {


}
