.productPage  {
  display: flex;
  flex-direction: row;
}
.info {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.productPhotos {
  max-height: 80px ;
}
.productMainPhoto {
  max-height: 511px ;
}
.attributesItem {
  display: flex;
}
.itemElement {
  margin: 12px;
  width: 63px;
  height: 45px;
  border: 1px solid black;
  text-align: center;
}