.productPage  {
  display: flex;
  flex-direction: row;
}
.info {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.productPhotos {
  max-height: 80px ;
}
.productMainPhoto {
  max-height: 511px ;
}
.button {
  background-color: #5ECE7B;
  Width: 292px;
  Height: 52px;
  text-align: center;
  color: #FFFFFF;
}