@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto&family=Source+Sans+Pro&display=swap');

$green:#5ECE7B;
$black:#1D1F22;

.mainStyle {
  width: 1440px;
  margin: 0 auto;
}
