@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap');

$green: #5ECE7B;
$black: #1D1F22;

.mainStyle {
  width: 1440px;
  margin: 0 auto;
  padding: 0 100px 50px 100px;
}
@media screen and (min-width: 1440px) {/* если окно браузера больше максимальной ширины сайта */
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}
